# Задача

Нужно выполнить следующие действия и вывести результат вычислений:

1. Отсортировать все имена в лексикографическом порядке.
2. Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39).
3. Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.
4. Сложить произведения из п. 3 для всех имен из файла и получить число.
5. Вывести полученную сумму.

In [18]:
import pandas as pd
import string

In [3]:
data = pd.read_csv('names.txt')

In [4]:
data

Empty DataFrame
Columns: [MARY, PATRICIA, LINDA, BARBARA, ELIZABETH, JENNIFER, MARIA, SUSAN, MARGARET, DOROTHY, LISA, NANCY, KAREN, BETTY, HELEN, SANDRA, DONNA, CAROL, RUTH, SHARON, MICHELLE, LAURA, SARAH, KIMBERLY, DEBORAH, JESSICA, SHIRLEY, CYNTHIA, ANGELA, MELISSA, BRENDA, AMY, ANNA, REBECCA, VIRGINIA, KATHLEEN, PAMELA, MARTHA, DEBRA, AMANDA, STEPHANIE, CAROLYN, CHRISTINE, MARIE, JANET, CATHERINE, FRANCES, ANN, JOYCE, DIANE, ALICE, JULIE, HEATHER, TERESA, DORIS, GLORIA, EVELYN, JEAN, CHERYL, MILDRED, KATHERINE, JOAN, ASHLEY, JUDITH, ROSE, JANICE, KELLY, NICOLE, JUDY, CHRISTINA, KATHY, THERESA, BEVERLY, DENISE, TAMMY, IRENE, JANE, LORI, RACHEL, MARILYN, ANDREA, KATHRYN, LOUISE, SARA, ANNE, JACQUELINE, WANDA, BONNIE, JULIA, RUBY, LOIS, TINA, PHYLLIS, NORMA, PAULA, DIANA, ANNIE, LILLIAN, EMILY, ROBIN, ...]
Index: []

[0 rows x 5165 columns]

In [9]:
names = sorted(data)

In [17]:
names[0]

'AARON'

In [28]:
char2number = {letter: value for letter, value in zip(string.ascii_uppercase, range(1, 27))}

In [29]:
char2number

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11,
 'L': 12,
 'M': 13,
 'N': 14,
 'O': 15,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}

In [33]:
result = 0

for i, name in enumerate(names, 1):
    alph_sum = 0
    
    for char in name:
        alph_sum += char2number[char]
        
    result += alph_sum * i

In [31]:
result

871853874